body {
    background-color: #f3f3f3;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: white;
    padding: 25px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
    font-size: 16px;
}

.password-box {
    display: flex;
    gap: 5px;
}

.password-box button {
    padding: 8px;
    cursor: pointer;
}

.submit-btn {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: royalblue;
    color: white;
    border: none;
    font-size: 17px;
    border-radius: 5px;
}
