*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: blueviolet;
}

button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 20px;
    border: 3px solid black;
    background-color: transparent;
    color: white;
    cursor: pointer;
    outline: none;
}